*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#EAF2FF,#CFE8FF);
    min-height:100vh;
}

header{
    background:linear-gradient(135deg,#3A7CA5,#5A9BCF);
    color:white;
    padding:50px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

header h1{
    font-size:38px;
}

header p{
    margin-top:8px;
    font-size:18px;
}

.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

.card{
    background:white;
    border-radius:20px;
    padding:30px;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:all 0.3s ease;
    border-top: 5px solid #3A86C4;
}

.card:hover{
    transform:translateY(-5px);
}

.menu{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:20px;
}

button{
    width:100%;
    border:none;
    background:#3A86C4;
    color:white;
    padding:18px;
    border-radius:14px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1E6091;
    transform:scale(1.04);
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.20);
}

a{
    text-decoration:none;
}

input[type="text"],
textarea,
select{
    width:100%;
    padding:15px;
    border-radius:12px;
    border:1px solid #ddd;
    margin-top:10px;
    margin-bottom:20px;
    font-size:16px;
}

.msg{
    background:#ffffff;
    border-left:6px solid #7BC6A4;
    padding:20px;
    margin:15px 0;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:10px;
    font-size:17px;
}

.resultado{
    background:#E8F4FF;
    color:#1E6091;
    padding:20px;
    border-radius:12px;
    margin-top:20px;
    font-size:20px;
    text-align:center;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.info-box{
    background: linear-gradient(135deg,#1E6091,#3A86C4);
    color:white;
    padding:30px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.info-box h2{
    font-size:18px;
}

.info-box h1{
    font-size:42px;
    margin-top:10px;
}

footer{
    text-align:center;
    padding:25px;
    color:#666;
    font-size:14px;
}

.radio-option{
    display:flex;
    align-items:center;
    gap:10px;
    margin:10px 0;
    font-size:17px;
    cursor:pointer;
}

.radio-option input[type="radio"]{
    width:auto;
    margin:0;
}

body{
    border: 1px solid #3A7CA5;
}

.opcao{
    display:flex;
    align-items:center;
    gap:10px;
    margin:10px 0;
    font-size:17px;
    cursor:pointer;
}

.opcao input[type="radio"]{
    width:auto;
    margin:0;
    padding:0;
}

.acessibilidade {
    background: #3A7CA5;
    color: white;
    padding: 12px 20px;
    border-radius: 12px;
    margin: 20px;
    font-size: 16px;
}