<!DOCTYPE html>
<html>

<head>

<title>Check-in Emocional</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
<h1>Check-in Emocional</h1>
<p>Como você está hoje?</p>
</header>

<div class="container">

<div class="card">

<form method="POST">

<select name="humor">

<option value="Feliz">
😊 Feliz
</option>

<option value="Normal">
😐 Normal
</option>

<option value="Ansioso">
😟 Ansioso
</option>

<option value="Triste">
😞 Triste
</option>

</select>

<br><br>

<button type="submit">
Salvar Humor
</button>

</form>

</div>

<div class="card">

<h2>Histórico emocional</h2>

{% for item in historico %}

<div class="msg">
    {{ item.humor }}
</div>

{% endfor %}

</div>

</div>

<footer>
    PsiCodevs © 2026 - Promovendo bem-estar emocional através da tecnologia
</footer>
</body>
</html>