<!DOCTYPE html>
<html>

<head>

<title>Check-in Emocional</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
    <button
type="button"
onclick="lerTexto('Bem-vindo ao check-in emocional. Escolha como está se sentindo hoje e clique em salvar humor.')">
🔊 Ouvir instruções
</button>

<button type="button" onclick="capturarHumor()">
🎤 Informar humor por voz
</button>

<h1>Check-in Emocional</h1>
<p>Como você está hoje?</p>
</header>

<div class="container">

<div class="card">

<form method="POST">

<select name="humor">

<option value="Feliz">
😊 Feliz
</option>

<option value="Normal">
😐 Normal
</option>

<option value="Ansioso">
😟 Ansioso
</option>

<option value="Triste">
😞 Triste
</option>

</select>

<br><br>

<button type="submit">
Salvar Humor
</button>

</form>

</div>

<div class="card">

<h2>Histórico emocional</h2>

{% for item in historico %}

<div class="msg">
    {{ item.humor }}
</div>

{% endfor %}

</div>

</div>

<footer>
    PsiCodevs © 2026 - Promovendo bem-estar emocional através da tecnologia
</footer>

<script>

function lerTexto(texto) {

    const fala = new SpeechSynthesisUtterance();

    fala.text = texto;
    fala.lang = "pt-BR";

    window.speechSynthesis.cancel();
    window.speechSynthesis.speak(fala);
}

function capturarHumor() {

    const reconhecimento =
    new webkitSpeechRecognition();

    reconhecimento.lang = "pt-BR";

    reconhecimento.start();

    reconhecimento.onresult = function(event) {

        const texto =
        event.results[0][0].transcript.toLowerCase();

        const select =
        document.querySelector("select[name='humor']");

        if(texto.includes("feliz"))
            select.value = "Feliz";

        else if(texto.includes("normal"))
            select.value = "Normal";

        else if(texto.includes("ansioso"))
            select.value = "Ansioso";

        else if(texto.includes("triste"))
            select.value = "Triste";
    };
}

</script>

</body>
</html>
<script>

function capturarHumor() {

    const reconhecimento =
    new webkitSpeechRecognition();

    reconhecimento.lang = "pt-BR";

    reconhecimento.start();

    reconhecimento.onresult = function(event) {

        const texto =
        event.results[0][0].transcript.toLowerCase();

        const select =
        document.querySelector("select[name='humor']");

        if(texto.includes("feliz"))
            select.value = "Feliz";

        else if(texto.includes("normal"))
            select.value = "Normal";

        else if(texto.includes("ansioso"))
            select.value = "Ansioso";

        else if(texto.includes("triste"))
            select.value = "Triste";
    };
}

</script>