<!DOCTYPE html>
<html>
<head>
    <title>Diário Emocional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Diário Emocional</h1>
    <p>Registre seus sentimentos</p>
</header>

<div class="container">

    <div class="card">

        <form method="POST">

            <textarea
                name="texto"
                rows="5"
                style="width:100%; padding:15px;"
                placeholder="Como você está se sentindo hoje?">
            </textarea>

            <button type="button" onclick="iniciarVoz()">
            🎤 Falar
            </button>

            <br><br>

            <button type="submit">
                Salvar Registro
            </button>

        </form>

    </div>

    <div class="card">

        <h2>Histórico</h2>

        {% for item in registros %}

            <div class="msg">
                {{ item.texto }}
            </div>

        {% endfor %}

    </div>

</div>

<footer>
    PsiCodevs © 2026 - Promovendo bem-estar emocional através da tecnologia
</footer>

<script>

function iniciarVoz() {

    const reconhecimento =
    new webkitSpeechRecognition();

    reconhecimento.lang = "pt-BR";

    reconhecimento.start();

    reconhecimento.onresult = function(event) {

        const textoFalado =
        event.results[0][0].transcript;

        document.querySelector(
            "textarea[name='texto']"
        ).value = textoFalado;
    };
}

function lerTexto(texto) {

    const fala = new SpeechSynthesisUtterance(texto);

    fala.lang = "pt-BR";

    window.speechSynthesis.speak(fala);
}


</script>
</body>
</html>