<!DOCTYPE html>
<html>

<head>
    <title>PsiCodevs</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<button
type="button"
onclick="lerTexto('Bem-vindo ao PsiCodevs. Plataforma digital de apoio psicológico contínuo para prevenção de recaídas e promoção da recuperação.. Escolha uma opção do menu para continuar.')">

🔊 Ouvir página
</button>

<div class="card">

<h2 style="text-align:center;">
🌟 Bem-vindo ao PsiCodevs
</h2>

<br>

<p style="text-align:center;">
Plataforma digital de apoio psicológico contínuo
para prevenção de recaídas e promoção da recuperação.
</p>

<br>

<h2 style="text-align:center; margin-bottom:10px;">
🧠 PsiCodevs
</h2>

<p style="text-align:center; margin-bottom:25px;">
Plataforma de apoio ao bem-estar emocional.
</p>

<div class="menu">

<a href="/dashboard">
<button>📊 Dashboard</button>
</a>

<a href="/teste">
<button>🧠 Teste de Bem-Estar</button>
</a>

<a href="/personas">
<button>👥 Personas</button>
</a>

<a href="/comunidade">
<button>💬 Comunidade</button>
</a>

<a href="/checkin">
<button>❤️ Check-in Emocional</button>
</a>

<a href="/diario">
<button>📖 Diário Emocional</button>
</a>

</div>

</div>

<div class="card">

<h2>Nossa Missão e Impacto Social</h2>

<p>
O PsiCodevs foi desenvolvido para apoiar pessoas em processo
de recuperação da dependência química, oferecendo acompanhamento
emocional contínuo, acolhimento e ferramentas digitais de prevenção.
</p>

<br>

<p>
A plataforma oferece monitoramento emocional,
registro de sentimentos, comunidade de apoio,
prevenção de recaídas e incentivo à continuidade do tratamento.
</p>

</div>

<footer>
    PsiCodevs © 2026 - Promovendo bem-estar emocional através da tecnologia
</footer>

<script>

function lerTexto(texto) {

    speechSynthesis.cancel();

    const fala = new SpeechSynthesisUtterance(texto);

    fala.lang = "pt-BR";
    fala.volume = 1;
    fala.rate = 1;
    fala.pitch = 1;

    speechSynthesis.speak(fala);
}

</script>

</body>
</html>