<!DOCTYPE html>
<html>

<head>
    <title>Teste de Bem-Estar</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    
    <h1>🧠 Teste de Bem-Estar Emocional</h1>
</header>

<div class="container">

    <div class="card">

        <form method="POST">

            <h3>1. Como você tem se sentido emocionalmente nos últimos dias?</h3>

<label class="opcao">
    <input type="radio" name="pergunta1" value="0">
    Bem e tranquilo
</label>

<label class="opcao">
    <input type="radio" name="pergunta1" value="1">
    Um pouco preocupado
</label>

<label class="opcao">
    <input type="radio" name="pergunta1" value="2">
    Muito ansioso ou estressado
</label>
<br><br>
            <h3>2. Como está sua qualidade de sono?</h3>

<label class="opcao">
    <input type="radio" name="pergunta2" value="0">
    Durmo bem
</label>

<label class="opcao">
    <input type="radio" name="pergunta2" value="1">
    Tenho dificuldades ocasionais
</label>

<label class="opcao">
    <input type="radio" name="pergunta2" value="2">
    Tenho dormido muito mal
</label>
            <br><br>

            <h3>3. Você tem conseguido lidar com situações difíceis sem perder o controle emocional?</h3>

<label class="opcao">
    <input type="radio" name="pergunta3" value="0">
    Sim
</label>

<label class="opcao">
    <input type="radio" name="pergunta3" value="1">
    Às vezes
</label>

<label class="opcao">
    <input type="radio" name="pergunta3" value="2">
    Não
</label>
            <br><br>

            <h3>4. Você sente que possui apoio de familiares, amigos ou profissionais quando precisa?</h3>

<label class="opcao">
    <input type="radio" name="pergunta4" value="0">
    Sim, sempre
</label>

<label class="opcao">
    <input type="radio" name="pergunta4" value="1">
    Algumas vezes
</label>

<label class="opcao">
    <input type="radio" name="pergunta4" value="2">
    Não tenho apoio
</label>

            <button type="submit">
                Analisar Resultado
            </button>

        </form>

        {% if resultado %}
<div class="resultado">

    {{ resultado }}

    <br><br>

   <button
type="button"
onclick="lerTexto(this.dataset.texto)"
data-texto="{{ resultado }}">
🔊 Ouvir resultado
</button>

</div>
{% endif %}

    </div>

</div>

<footer>
    PsiCodevs © 2026 - Promovendo bem-estar emocional através da tecnologia
</footer>

<script>

function lerTexto(texto) {

    speechSynthesis.cancel();

    let fala = new SpeechSynthesisUtterance(texto);

    fala.lang = "pt-BR";
    fala.rate = 1;
    fala.pitch = 1;
    fala.volume = 1;

    speechSynthesis.speak(fala);
}

</script>
</body>
</html>